[2021-12-02 11:33] dayanand-g opened #2 "Custom PDF viewer"
Can you please assign me.

[2021-12-02 11:49] shivshankar9 opened #3 "Update readme"

[2021-12-02 14:14] Pushti-R commented on #2
please assign me

[2021-12-03 08:09] shivshankar9 commented on #2
Issue has assigned already

[2021-12-03 08:11] shivshankar9 opened #4 "Create home page"

[2021-12-03 13:57] radzhiv25 commented on #3
can you please assign this to me

[2021-12-03 14:22] ssurbhi09 commented on #4
Like what I have to do?

[2021-12-03 15:04] shivshankar9 commented on #3
Yes sure

[2021-12-03 15:08] shivshankar9 commented on #4
https://smallpdf.com/
Checkout this create some simple home page
Include, blog, details about features,

[2021-12-03 16:26] davyj123 commented on #4
is this repo is part of swoc 2021.
i am intrested to do this task.
can you give some psd or figma designs.

[2021-12-03 16:33] madhuri878 commented on #4
I am also interested to contribute this repo can you give more brief idea what exactly i can add.

[2021-12-03 17:21] shivshankar9 commented on #4
Well we starting this project from begging so design this in your way,

[2021-12-03 17:23] shivshankar9 commented on #4
You can visit smallpdf.com get some idea
We creating those all smart features that students needs to customize files

[2021-12-03 17:25] #2 closed, assigned to dayanand-g

[2021-12-03 18:35] Viditjain04 commented on #3
@shivshankar9 I have updated the Readme file and made a pr #6 also, please review and accept it.

[2021-12-04 04:35] radzhiv25 commented on #3
So still can I create a PR ?

[2021-12-04 04:56] shivshankar9 commented on #3
If you think there is something needed update create new issue and I will assign to you

[2021-12-04 05:23] srinivasulu-2654 commented on #4
I am intrested in  doing this task by adding more . Please assign this task to me

[2021-12-04 05:26] shivshankar9 commented on #4
Yes sure ,

[2021-12-04 06:46] shivshankar9 opened #7 "Pdf converter"

[2021-12-04 08:19] leesha19 commented on #4
hey i am also intrested in this project can you please give some home page content i can write all structure in html if you provide me

[2021-12-04 08:23] leesha19 commented on #7
do we have to create a pdf converter

[2021-12-04 09:04] madhuri878 commented on #7
Can you please assign me?

[2021-12-04 09:06] leesha19 commented on #7
hey when i opened the website it shows a file is missing can you please add it

[2021-12-04 09:37] shivshankar9 commented on #7
Yes

[2021-12-04 09:43] shivshankar9 commented on #4
Well there is no content available
Explore internet you will find some content

[2021-12-04 09:55] #3 closed, assigned to nobody

[2021-12-04 12:04] HarivardhanK commented on #4
please assign me this issue. I'm interested. I can do it

[2021-12-04 13:17] shivshankar9 commented on #4
Yes go ahead,
But only first PR will get merged

[2021-12-04 16:04] Korra15 opened #8 "Updating readme.md"
Updating the Readme file to elaborate more on the project and why should people contribute to it.

I would like to work on this, could you please assign this to me under SWOC 2.0

[2021-12-04 17:16] shivshankar9 commented on #8
Go ahead

[2021-12-05 05:39] shivshankar9 opened #9 "Doc_Scanner"
Documents scanner

[2021-12-05 05:42] shivshankar9 opened #10 "Images to pdf"
Add functionality to convert img to pdf

[2021-12-05 05:44] shivshankar9 opened #11 "Text to pdf"
Functionality text text to pdf

[2021-12-05 07:46] Korra15 commented on #8
Could you please give me more insights on what exactly is this project and what does it aim to achieve.

[2021-12-05 07:47] Korra15 commented on #8
Could you please give me more insights on what exactly is this project and what does it aim to achieve.

[2021-12-05 07:48] Korra15 commented on #8
Could you please give me more insights on what exactly is this project and what does it aim to achieve.

[2021-12-05 07:56] Korra15 commented on #10
Could I work on this using python?

[2021-12-05 07:57] leesha19 commented on #10
i can do it using js please assign me

[2021-12-05 08:04] shivshankar9 commented on #10
Ok

[2021-12-05 08:05] shivshankar9 opened #12 "Doc To Pdf"
Doc to pdf converter

[2021-12-05 08:16] shivshankar9 commented on #8
Not everytime possible to open system or find apps for hours
To manage some short task like creating pdf, doc converters, resize documents
And many more things actually we can do it by simply visiting this web app adding all those tool one place to easily accessible,

[2021-12-05 08:36] shivshankar9 opened #13 "Extract zip file"
Function to extract zip files

[2021-12-05 09:34] Korra15 commented on #8
okay

[2021-12-05 10:57] shivshankar9 commented on #4
@kanthalaHarivardhanReddy @ssurbhi09  @leesha19 @madhuri878
Guys only First PR will get merged,
So complete it asap..

[2021-12-05 13:13] leesha19 commented on #4
done

[2021-12-05 13:34] leesha19 commented on #4
#15

[2021-12-05 13:36] #4 closed, assigned to kanthalaHarivardhanReddy, srinivasulu-2654, leesha19, madhuri878

[2021-12-05 17:45] shivshankar9 opened #18 "Add footer"

[2021-12-06 06:15] arpita221b commented on #18
I can work on this issue. Please assign this to me.

[2021-12-06 06:34] leesha19 commented on #18
done assign me

[2021-12-06 06:45] leesha19 commented on #18
#19 please leave  a review

[2021-12-06 06:46] leesha19 commented on #18
[https://github.com/shivshankar9/Student-portal/pull/19#issue-1071787507](url)

[2021-12-06 11:01] srinivasulu-2654 commented on #10
I can do this task . please assign this task for me

[2021-12-06 11:26] shivshankar9 commented on #10
This issue already assigned

[2021-12-06 13:17] davyj123 commented on #11
could you please assign this issue to me. I am already working on it.

[2021-12-06 13:18] davyj123 commented on #12
could you please assign this issue to me

[2021-12-06 14:00] shivshankar9 commented on #12
Yeah sure

[2021-12-06 14:15] TMahato opened #20 "Navbar"
I think the navbar is needed to be modified, I will modify the navbar

Pls Assign this to me.

[2021-12-06 14:45] shivshankar9 commented on #11
Yeah sure

[2021-12-06 14:45] shivshankar9 commented on #20
Go ahead

[2021-12-07 06:07] leesha19 opened #22 "improvement of home page"
i am working on home page + footer part

[2021-12-07 06:42] shivshankar9 commented on #22
Yeah sure go ahead

[2021-12-07 10:49] shivshankar9 opened #23 "Add logo"
Create logo and add to homepage

[2021-12-07 14:07] geetika005 opened #26 "Contact page"
I want to design the contact page wherein i will design a beautiful contact form for all the contact fields with javascript validation.
Please assign the issue to me so that i can start working.

[2021-12-07 14:20] geetika005 commented on #23
Please assign the issue to me.

[2021-12-07 16:14] shivshankar9 commented on #23
Yeah sure go ahead

[2021-12-07 16:15] shivshankar9 commented on #26
Yeah sure

[2021-12-08 17:44] shivshankar9 opened #28 "Add contribution.md file"

[2021-12-08 17:45] #18 closed, assigned to leesha19

[2021-12-09 09:21] TMahato commented on #28
I will add it

assign me.

[2021-12-09 09:53] TMahato commented on #20
@shivshankar9 can I submit a new PR or anyone already working on it?

[2021-12-09 09:56] #20 closed, assigned to TMahato

[2021-12-09 14:03] NamanGokharu opened #31 "Navbar to Page linkup and creation"
I am thinking to link different pages from navbar.

[2021-12-09 14:18] #22 closed, assigned to leesha19

[2021-12-09 14:20] shivshankar9 commented on #31
Sure

[2021-12-09 15:57] #26 closed, assigned to geetika005

[2021-12-09 15:58] #10 closed, assigned to Korra15, leesha19

[2021-12-09 16:19] santushtisharma10 commented on #13
@shivshankar9  I would like to work on this issue. Please assign me this issue

[2021-12-10 05:53] TMahato opened #34 "Tools Section"
I think I can improve the design of the Tool Section.

![tools](https://user-images.githubusercontent.com/80240317/145524222-1edf6a35-9b0c-4bb6-83ca-b8378edbde72.png)

[2021-12-10 06:04] Dipti821 opened #35 "Textutility page"
I would like to add a page where we can perform different operations on text like converting text to upper case and lower case, counting no. of words and characters, copying the text etc.

[2021-12-10 06:05] Dipti821 commented on #35
Hey @shivshankar9 I would like to work on this issue. Can I?

[2021-12-10 06:15] shivshankar9 commented on #35
Sure

[2021-12-10 06:15] shivshankar9 commented on #34
Go ahead

[2021-12-10 11:23] #28 closed, assigned to TMahato

[2021-12-11 06:33] santushtisharma10 commented on #13
@shivshankar9

[2021-12-11 07:52] NamanGokharu opened #37 "Chatbot for Homepage"
I am thinking to go on with chatbot for homepage using JS, HTML  & CSS which will help to resolve basic issues faced by user.

[2021-12-11 08:16] Viditjain04 opened #38 "Update Navbar design"
I want to update the navbar design, is it ok? Please assign me, so that i can work on it.
![Screenshot 2021-12-11 132237](https://user-images.githubusercontent.com/71459989/145669648-b9bcc54e-b402-483b-943e-63cd697d8d7a.jpg)

[2021-12-11 10:10] shivshankar9 commented on #13
Yes sure go ahead

[2021-12-11 10:10] shivshankar9 commented on #37
Go ahead

[2021-12-11 11:29] Viditjain04 commented on #38
@shivshankar9  I have updated the navbar, please check and review #39 PR.

[2021-12-11 12:16] kushagra487 commented on #9
I would like to work on this issue

[2021-12-11 15:47] Viditjain04 opened #40 "About Section"
I want to create about section, so what should it include or how it should look like?

[2021-12-11 17:58] shivshankar9 commented on #40
First add some deatails about Who we are, what we do,
Then include our team section where we can add our whole team , after that add according to u which u think it's needed add it.

[2021-12-12 03:06] abaran803 opened #41 "Changes in tools"
I would like to put the tools heading and tool items(rows) in different blocks so that we can apply CSS to them separately.

[2021-12-12 03:40] abaran803 opened #42 "Change width of heading"
I would like to apply the width of the main heading "student portal" according to the size of screen, instead of a fixed size.

![temp1](https://user-images.githubusercontent.com/71405368/145698998-ec48b208-1143-465f-8b8d-50af15e0404c.png)
On large screen

<img src="https://user-images.githubusercontent.com/71405368/145699043-2f6dc29d-bff6-4f0f-99be-6e028af09b10.png" width=50% height=50%>
On the s

[2021-12-12 03:50] abaran803 commented on #41
@shivshankar9 I have separated tools heading and tools items. Please check and review PR #43

[2021-12-12 04:05] shivshankar9 commented on #23
@geetika005  any updates??

[2021-12-12 09:48] #41 closed, assigned to abaran803

[2021-12-12 13:40] abaran803 opened #47 "Adding image to pdf page"
I want to add the front-end part of the "image to pdf" section. Initially, one form is given to provide input of the image. And if the user wants to add more images, he can click on add more button. If the user wants to get the pdf format of all the images, he will click on the upload all button.

![temp](https://user-images.githubusercontent.com/71405368/145714608-7bb30109-c6ac-4c29-8968-a4412307

[2021-12-12 13:40] Pushti-R commented on #35
Can i work on it?

[2021-12-12 16:12] shivshankar9 commented on #47
Sure go ahead 👍

[2021-12-12 16:14] shivshankar9 commented on #35
Since there is no updates from Dipti you can start working,

[2021-12-12 16:15] shivshankar9 commented on #35
you can start working,

[2021-12-12 17:39] Pushti-R commented on #35
hey @shivshankar9  can you brief me a little about this task?

[2021-12-12 18:03] shivshankar9 commented on #35
Actually this issue created by Dipti,
You can work on the other issue if u not getting ,
if u wish to work on function or ui related just create another Issue.

[2021-12-12 18:04] #35 closed, assigned to nobody

[2021-12-12 18:07] #38 closed, assigned to Viditjain04

[2021-12-12 19:07] ghost commented on #42
Please assign the issue to me.

[2021-12-13 01:48] #47 closed, assigned to abaran803

[2021-12-13 02:50] abaran803 opened #49 "Responsive Menu"
I want to make a hamburger menu for the small screens in the menu section.

[2021-12-13 03:26] #49 closed, assigned to nobody

[2021-12-13 03:26] abaran803 commented on #49
This issue is already resolved

[2021-12-13 06:52] abaran803 commented on #42
It was the problem with the navbar. And now working fine. But on applying centre alignment, the header will look better in small screen devices. Also, the navbar is not responsive on all devices due to applying media query for 400px screen, it will work for all devices if we set it to 480px. I'm want to do these two changes.

[2021-12-13 09:50] tiasaxena commented on #34
![toolsec](https://user-images.githubusercontent.com/89907755/145789344-b11590be-31d3-4fed-b1ea-19bb135ad20b.png)

Hey @shivshankar9! I can work on improving the tool section further. Can I please be assigned the task?

[2021-12-13 09:52] #42 closed, assigned to abaran803

[2021-12-13 09:52] shivshankar9 commented on #34
Go ahead

[2021-12-13 11:07] 9Shalini commented on #23
![logo](https://user-images.githubusercontent.com/87543203/145801674-e8d6ea07-debb-44d8-9212-1a805c6d7f43.png)
I can redesign the logo, please assign me the task @shivshankar9

[2021-12-13 11:33] SuperAayush opened #51 "Header and Footer for all pages."
<img width="1440" alt="Screenshot 2021-12-13 at 5 02 15 PM" src="https://user-images.githubusercontent.com/78820926/145804981-b0574f60-277f-4cf9-aa42-5ac69bbaebd8.png">

[2021-12-13 11:35] SuperAayush commented on #51
@shivshankar9  I am thinking to go with an amazing Header and Footer which will be applied to all the pages.
Just suggest to me that either I should continue with the same header that is currently used on the Homepage or make a new one.

[2021-12-13 12:00] smridhiwho opened #52 "HomePage"
I think I can make some changes to the homepage and make it more visually appealing using CSS and HTML.

[2021-12-13 12:47] TMahato commented on #34
I am already working on it
almost completed
??

[2021-12-13 13:33] shivshankar9 commented on #51
Go for it

[2021-12-13 15:28] SuperAayush commented on #51
Can you please assign this to me then?

[2021-12-13 16:09] kushagra487 commented on #9
Can you help me in this a little bit?

[2021-12-13 16:49] shivshankar9 commented on #51
Sure

[2021-12-13 16:59] shivshankar9 commented on #23
Ok go ahead

[2021-12-13 18:01] abaran803 opened #55 "Common html part"
In all the pages, common HTML parts (like header, footer etc.) are repeated and require to be corrected every time when the common part for the home page is changed. I want to create a different file for that common part and use the reference in all the pages. So that, on changing the common part, we don't need to update all the pages again.

[2021-12-13 20:03] abaran803 commented on #55
I tried to implement it in my local system a lot of times, and it worked. But it causes a problem with JavaScript. I used "load()" of jQuery and iFrame.
In load(), the part of the HTML is loaded after the loading of the page, but the script work before loading so all the variables storing the old DOM and the function applied do not work on newly generated DOM using load().

[2021-12-14 01:51] shivshankar9 commented on #55
Then

[2021-12-14 08:00] shivshankar9 commented on #7
Any updates @leesha19 @madhuri878

[2021-12-14 08:31] shivshankar9 opened #58 "Link the functions img to pdf"
Link the functions img to pdf converter to hompage icons

[2021-12-14 08:46] Abirpal202049 commented on #55
You can implement this using React or Layout Engins like ejs,pug

[2021-12-14 08:53] Abirpal202049 opened #59 "Organize The File Structure"
Put all the css , js under different folders and link then properly and add a .gitignore file also

[2021-12-14 09:16] ElyasAmri opened #60 "Typos and inconsistencies across multiple files"
As the title suggests, I found typos and inconsistencies.

I would like to work on this issue.

[2021-12-14 09:33] ElyasAmri commented on #55
I agree @Abirpal202049 , but you would need node.js and multiple packages and the project will have to be run as a server rather than be opened as a simple html file. Should that be the case for this project or not, @shivshankar9 ?

[2021-12-14 10:04] shivshankar9 commented on #37
Any updates @NamanGokharu

[2021-12-14 10:18] NamanGokharu commented on #37
Going on with some basic errors, I will complete it and submit it by today.

[2021-12-14 10:22] #60 closed, assigned to ElyasAmri

[2021-12-14 10:23] shivshankar9 commented on #37
Take your time, if you face any issues you can ask to mentors

[2021-12-14 11:15] abaran803 commented on #55
We have to change a lot of

I tried fetch API, and it is working properly. We can use it by putting file address in place of url. And it returns promise. We then put the desired js code inside .then() and it will execute after loading the component.
The I don't know using this in all the files is a good approach or not.

[2021-12-14 11:42] Adit0507 commented on #59
May I kindly work on this issue  ? This is my my 1st time doing Open-Source so I will try my best to work on this

[2021-12-14 11:48] Adit0507 opened #62 "Improve the design of the Contact Page"
![a](https://user-images.githubusercontent.com/78037846/145992405-c1947c87-664e-40c7-8c99-fd515b85c2c2.PNG)
The design of the Contact page doesn't match the aesthetic of the Home Page, so I want to make the Contact page look a bit more cohesive with the Home Page.

[2021-12-14 11:49] Adit0507 commented on #62
![aa](https://user-images.githubusercontent.com/78037846/145992844-7afc87a6-8ca1-4f6d-b818-b7f145201b7e.PNG)
 For Reference

[2021-12-14 12:03] aakankshabhende commented on #59
Go ahead @Adit0507

[2021-12-14 12:12] aakankshabhende commented on #8
Any updates? @Korra15

[2021-12-14 12:20] #31 closed

[2021-12-14 15:10] Adit0507 commented on #59
Thank You @aakankshabhende

[2021-12-14 16:13] abaran803 commented on #55
@shivshankar9 Sir, please reply

[2021-12-14 16:41] shivshankar9 commented on #55
Take your time @abaran803  Just try do, if still you face problems then don't forget stackoverflow is always open for you and also you can Just post issue in our group we will try to resolve,

[2021-12-14 18:15] abaran803 commented on #55
@shivshankar9 Ok, Sir

[2021-12-14 19:30] ElyasAmri opened #65 "Add remove file button for the images to PDF"
There is currently no way of removing an image from the group in the images to PDF utility.

I would like to work on this issue.

[2021-12-15 02:38] satyamgupta1495 opened #67 "No home Button/Navbar on contact page."
Once landed on the contact page, the user cannot navigate to home or any other section of the page.

![image](https://user-images.githubusercontent.com/51158766/146112601-0880fc97-0aa9-4b93-b2d3-8c85e4cd3591.png)

[2021-12-15 02:39] satyamgupta1495 commented on #67
Hey @shivshankar9, I wanna work on this issue.

[2021-12-15 02:45] shivshankar9 commented on #67
Yeah sure👍

[2021-12-15 10:11] leesha19 opened #69 "img to pdf"

[2021-12-15 17:04] shivshankar9 commented on #69
Providing some descriptions would be helpful..

[2021-12-16 06:52] shivshankar9 commented on #12
@davyj123

[2021-12-16 07:43] davyj123 commented on #12
Sending a pr soon

[2021-12-16 07:43] davyj123 commented on #12
Almost finished

[2021-12-16 09:32] Drish-xD commented on #67
@shivshankar9 Can I work on this?

[2021-12-16 10:08] #37 closed, assigned to NamanGokharu

[2021-12-16 10:10] harshimm commented on #58
@shivshankar9 can u elaborate this issue ? Does it mean that a pop up must appear directly in the home page , which prompts the user to select images ?

[2021-12-16 10:13] shivshankar9 commented on #67
This issue Already assigned ,

[2021-12-16 10:16] Harshil-Jani opened #72 "Remove Input Field"
![image](https://user-images.githubusercontent.com/79367883/146352113-70dc9f3f-368d-4952-8ff8-a798d52aa4a8.png)

If user creates More Upload sections and then if somehow we want to reduce the created section then We cannot do it. This feature would ease out the process for user to interact rather than re-uploading all the documents.

**Proposed Solution :** Create a button to delete the Form Nodes

[2021-12-16 10:17] Harshil-Jani commented on #72
I would like to work on this !

[2021-12-16 10:17] shivshankar9 commented on #58
No there is another page linked to img to pdf, you need to setup that function to perform the task perfectly

[2021-12-16 10:26] shivshankar9 commented on #72
#65  issue already assigned

[2021-12-16 10:41] harshimm commented on #58
Oh ok . Can you assign me this issue ?  Thanks in advance !

[2021-12-16 10:48] shivshankar9 commented on #58
Yeah sure

[2021-12-16 11:08] #72 closed, assigned to nobody

[2021-12-16 11:40] harshimm opened #73 "Chatbot interface not positioned properly in mobile view"
Half of the interface is crossing the left margin , due to which the reply words and messages are not visible . And part of it goes behind the navbar.

![Screenshot_2021-12-16-17-07-32-08_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/87597527/146365219-806d5634-fcb6-4190-abfe-6960ed969a71.jpg)

[2021-12-16 12:03] shivshankar9 commented on #73
Yes

Yes

[2021-12-16 12:53] harshimm commented on #73
Can you assign me this issue as well, Thanks in advance !

[2021-12-16 12:54] shivshankar9 commented on #73
Yeah sure go ahead

[2021-12-16 13:44] SuperAayush commented on #51
@shivshankar9  Should I PR for any of these headers?
<img width="1440" alt="Screenshot 2021-12-16 at 7 13 23 PM" src="https://user-images.githubusercontent.com/78820926/146383074-dbec77de-2c77-4014-9c67-e74f398ccbe4.png">

<img width="1440" alt="Screenshot 2021-12-16 at 7 12 37 PM" src="https://user-images.githubusercontent.com/78820926/146383069-381a5b67-2959-4680-ae5c-68345804991b.png">

[2021-12-16 13:49] SuperAayush commented on #51
I have removed the navbar and created this header all by myself and planning to do the same for the footer. Can you just suggest to me what all should I add or include in footer?

[2021-12-17 07:23] ARUNBALACHOCKALINGAM opened #74 "Text to PDF button is not functioning"
![image](https://user-images.githubusercontent.com/53313020/146505612-0849f897-e242-4cc2-a72c-0a23f0524894.png)

[2021-12-17 07:23] ARUNBALACHOCKALINGAM commented on #74
I would like to work on this issue

[2021-12-17 09:34] Shubhambawner commented on #73
@shivshankar9 @HarshiniMarappan
how do we get an issue assigned? do we have to raise it first, or we can be assigned any other also?

[2021-12-17 09:44] Shubhambawner commented on #51
@SuperAayush
we can just have look at some similer websites's footers,
having some idea in mind, I would be happy to work with u upon this pr on footer part.

[2021-12-17 11:14] shivshankar9 commented on #73
This issue already assigned,
You can look for other issue which not resolved yet or you can create new issue as well...

[2021-12-17 17:57] SuperAayush commented on #51
@Shubhambawner  Ya go on brother, get yourself assigned as well.

[2021-12-17 18:51] abaran803 commented on #55
@shivshankar9 Navbar is not showing due to cross-site access. Fetching navbar from my GitHub repo b/c the absolute path is provided which belong to my repo. I did this b/c I tried it on my repo. Now I want to put the original repo address(i.e. this repo).

[2021-12-18 05:46] #55 closed, assigned to abaran803

[2021-12-18 18:48] udith51 commented on #7
@shivshankar9 What type of convertor are we expecting here ? Is it something specific like doc-to-pdf or img-to-pdf?

[2021-12-19 03:32] shivshankar9 commented on #7
***Doc to pdf,***
*Img-to-pdf* already exists

[2021-12-19 05:07] darecoder-git commented on #52
Lets make Homepage more aesthetic using CSS .@shivshankar9

[2021-12-19 11:24] udith51 commented on #7
Hey @shivshankar9, if this issue thread is inactive, can I work on it?

[2021-12-19 11:40] #23 closed, assigned to 9Shalini

[2021-12-19 11:58] shivshankar9 commented on #7
This issue already assigned

Yeah go ahead

[2021-12-19 14:23] ssurbhi09 commented on #8
If it is not complete then assign me I can add how to contribute in readme section

[2021-12-19 14:24] ssurbhi09 commented on #7
What I have to do please explain!

[2021-12-19 16:32] NamanGokharu opened #77 "Designing service page with different sort of animations and many more things."
I am thinking to design service page of student portal with different animations and clickable events on different sections. Can you please convey the requirements of it and additional things required!

[2021-12-19 16:48] shivshankar9 commented on #7
This issue already assigned @ssurbhi09

[2021-12-19 16:53] shivshankar9 commented on #8
Yes go ahead

[2021-12-19 17:34] ssurbhi09 commented on #8
Done @shivshankar9 sir!

[2021-12-21 18:01] udith51 commented on #7
Hey @shivshankar9, the work is almost done. Our website now takes in a word doc, converts it to pdf and saves it to local system. Should I submit pr and create new issue for styling of the page, because as of now on clicking Word-to-doc it navigates to nowhere.

[2021-12-21 18:03] udith51 commented on #7
As of now, we have this functionality ready with us.
So maybe after next issue we have design+functionality completed.

[2021-12-22 09:52] shivshankar9 commented on #7
Just add it in simple way , after that you can create another issue for ui

[2021-12-23 06:35] Atif0604 opened #80 "Add Contributor list and project admin name in readme"
hey @shivshankar9
Please assign under SWOC'21

[2021-12-23 07:17] SarandeepSingh17 opened #81 "Working on Contact Section"
Re-Creating Contact Section matching with HOME-theme and fixing the overlapping of navigation bar
![image](https://user-images.githubusercontent.com/70137752/147203050-75c5ffe4-d96d-422f-bb66-261148d8db21.png)

[2021-12-23 13:43] devikavarshney commented on #74
@shivshankar9 if no one is working on this issue can I start working on it❓

[2021-12-23 13:45] devikavarshney commented on #69
@shivshankar9 if no one is working on this issue can I start working on it 🥺  ❓

[2021-12-23 13:46] devikavarshney commented on #62
@shivshankar9 is it done or can I contribute to this one?

[2021-12-23 13:49] devikavarshney commented on #58
@shivshankar9 can I start working on it? If @HarshiniMarappan has not started yet? 😄

[2021-12-23 14:55] Adit0507 commented on #62
Hi @devikavarshney , I'm currently working on this

[2021-12-24 10:46] #80 closed, assigned to Atif0604

[2021-12-24 10:56] Atif0604 commented on #59
Hey @aakankshabhende @Abirpal202049 @shivshankar9 Can i work on this if no one is working on
as its around 10 days

[2021-12-24 11:11] udith51 commented on #7
Added pr, please review it and inform if any further changes are required. #84

[2021-12-24 11:26] Atif0604 opened #85 "Improve README"
I will add Diff tags like lines of code, repo size, forks ,stars ,last commit ,total contributor, issues, PRs ,license and add Repo banner
Please assign me under SWOC'21
@aakankshabhende @shivshankar9

[2021-12-24 14:44] Atif0604 commented on #85
Hey @aakankshabhende please add label

[2021-12-25 02:44] #65 closed, assigned to ElyasAmri

[2021-12-25 02:49] #85 closed, assigned to Atif0604

[2021-12-25 03:08] Atif0604 commented on #85
Hey @aakankshabhende @shivshankar9
Please add labels

[2021-12-25 07:50] devikavarshney opened #88 "About page is missing 😞 and UI design can be improved of the home page as well"
I can **add about page** as well as can improve the all-over **UI design** of the home page keeping in mind the consistency of the home page and about page 😄 @shivshankar9

[2021-12-25 07:57] devikavarshney commented on #88
@shivshankar9 Please assign this issue to me and kindly add the SWOC tag as well as the level tag 🙇🏼‍♀️

[2021-12-25 08:23] shivshankar9 commented on #59
Yes @Atif0604  go ahead.

[2021-12-26 02:40] shivshankar9 commented on #74
Yes @devikavarshney

[2021-12-26 03:06] #73 closed, assigned to HarshiniMarappan

[2021-12-27 07:31] Abirpal202049 opened #91 "Change the theme of the Contact Page and match it with the Home Page Theme"
![Screenshot 2021-12-27 125738](https://user-images.githubusercontent.com/74393266/147446883-7997476b-2026-4120-a25e-fa7b8ba3c53a.png)

[2021-12-27 08:59] aniket1251 commented on #91
@Abirpal202049 Can I work on this?

[2021-12-27 15:07] #59 closed, assigned to Atif0604

[2021-12-27 19:29] #91 closed, assigned to nobody

[2021-12-28 02:29] tiasaxena commented on #81
Hey @shivshankar9! Is the issue still open? I can work on redesigning the contact page while making sure it syncs with the home page. Will be happy to help :)

[2021-12-28 13:11] harshimm commented on #58
@shivshankar9 can u assign this issue to someone else , apologies and thanks in advance 😅

[2021-12-28 17:49] Abirpal202049 opened #97 "Fixing the Chatbot Image Rendering Issue"
## Can anyone solve the issue that why the image is not rendering
![Screenshot 2021-12-28 231446](https://user-images.githubusercontent.com/74393266/147593014-2219814e-ac12-4ea1-b1cd-b19ed4106af7.png)

Make the change host it on your github and dont forgot to share the link here. And for any dout feel free to Contact Us

[2021-12-29 06:22] madhuri878 opened #98 "Resize an image"
Resizing image will be helpful to get required  exact  file size  effectiveness for a specific use.

[2021-12-29 09:07] madhuri878 commented on #98
Plz assign me

[2021-12-29 13:17] shivshankar9 commented on #98
Sure,

[2021-12-31 18:32] sagarcode28 opened #99 "UI of the Website can be Improved."
@shivshankar9 Can you please assign this issue to me?

[2022-01-01 04:05] shivshankar9 commented on #99
Yeah sure go ahead @sagarcode28

[2022-01-01 05:31] Adit0507 opened #100 "Would like to work on the "Services" section"
@shivshankar9 Can u kindly specify the type of data I should enter in the Services section. Should I enter the functionalities of Student Portal in it or what ?

[2022-01-01 08:47] shivshankar9 commented on #100
Already @NamanGokharu  working on this #79

[2022-01-01 13:30] #100 closed, assigned to nobody

[2022-01-02 04:06] udith51 commented on #11
Hey, @shivshankar9 if this issue thread is inactive, can I work on it?

[2022-01-02 05:28] davyj123 commented on #11
@shivshankar9 sir I am busy with my exams but now will send a pr in some days

[2022-01-02 06:27] shivshankar9 commented on #11
Ok no worries take your time.

[2022-01-02 07:02] udith51 opened #105 "Doc-to-Pdf page UI improvement"
Though the functionality of doc-to-pdf conversion has been worked out, ui of of this page is yet to be improved to sync it with main page theme

[2022-01-02 07:09] udith51 commented on #105
@shivshankar9, please assign it to me.

[2022-01-02 07:13] udith51 commented on #11
Ok, no problem @davyj123 🙂👍

[2022-01-02 07:51] #97 closed, assigned to nobody

[2022-01-02 11:04] devikavarshney commented on #74
@shivshankar9 hey can you explain the difference between this issue assigned to me and the #11 issue.

[2022-01-03 04:30] shivshankar9 commented on #74
Try to resolve this asap,
We will merge first approved PR only,

[2022-01-03 05:47] leesha19 opened #106 "adding css to- doc to pdf"
hey i want to style doc to pdf page ..as it has no styling

[2022-01-03 06:49] shivshankar9 commented on #106
this issue already assigned, #105

[2022-01-03 14:49] #106 closed, assigned to nobody

[2022-01-04 05:44] udith51 commented on #12
@shivshankar9, just bringing it to your notice, this issue already exists (#7) and its pr has been successfully merged(#84).
Thanks!

[2022-01-04 06:41] #12 closed, assigned to davyj123

[2022-01-04 11:25] tiasaxena opened #107 "Missing About Section"
Hey @shivshankar9, the site lacks in the about section. Please assign me the task. I will create a minimalistic about section to the site that syncs well :)

[2022-01-05 03:26] #107 closed, assigned to tiasaxena

[2022-01-05 07:19] #62 closed, assigned to Adit0507

[2022-01-05 09:39] udith51 commented on #105
@shivshankar9 do we have a prototype of design (as in images on how it should look or some guidelines maybe) ready that can be implemented here?

[2022-01-05 09:40] udith51 commented on #105
Or do we need to start from a complete new idea?

[2022-01-05 11:31] udith51 opened #109 "Text-to-Pdf page UI"
At present, on clicking Text to Pdf button, it links to nowhere. This issue would get us a landing page where the Text-to-Pdf functionality can be carried out.

[2022-01-05 11:31] udith51 commented on #109
@shivshankar9, please assign it to me!

[2022-01-05 13:11] shivshankar9 commented on #105
no there is no prototype
make sure it similiar to theme page

[2022-01-05 13:13] shivshankar9 opened #110 "add logo to nav"

[2022-01-05 13:14] shivshankar9 opened #111 "add preloader"

[2022-01-05 13:18] shivshankar9 opened #112 "add logo to title"

[2022-01-05 14:33] geetika005 commented on #110
Please assign this issue to me
Do we need to add the same logo onto the navbar or any other logo?

[2022-01-05 15:39] KashyapB02 commented on #111
@shivshankar9

Can you please provide some description of the issue? I am not able to understand what exactly I have to do about this issue. So adding a preview or some guidelines will be very much helpful for me.

I am a SWOC contributor.

[2022-01-05 17:08] aakankshabhende commented on #111
@kashyap1905 you will have to create something which will be shown on the screen till the main content of website is loaded

[2022-01-05 17:13] aakankshabhende commented on #88
Any updates? @devikavarshney

[2022-01-05 17:18] aakankshabhende commented on #81
Any updates? @SarandeepSingh17

[2022-01-05 17:31] ARUNBALACHOCKALINGAM commented on #74
Working on it

On Mon, Jan 3, 2022, 10:00 Shiv ***@***.***> wrote:

[2022-01-05 19:19] abaran803 commented on #112
Please assign this issue to me
I will add relevant a logo before the title.

[2022-01-05 19:25] abaran803 commented on #111
@shivshankar9  @aakankshabhende
Are you talking about the loader I used in [this](https://abaran803.github.io/E-Commerce/#/home) project to load the product and category section?
If it is the same, please assign this issue to me, as I can do it easily.

[2022-01-05 19:43] SarandeepSingh17 commented on #81
The above issue has been resolved, you can create new issue and work on the responsiveness for the same

[2022-01-05 19:43] #81 closed, assigned to SarandeepSingh17

[2022-01-06 02:39] #110 closed, assigned to geetika005

[2022-01-06 05:46] abaran803 commented on #112
@shivshankar9 I think, someone already added the logo before the title using #110 issue, can I add the logo before all the navs, related to their name.

[2022-01-06 06:17] shivshankar9 commented on #112
Actually This issue for page title not for nav

[2022-01-06 06:35] abaran803 commented on #112
So what should I do?

[2022-01-06 08:57] shivshankar9 commented on #112
Add logo to page title

[2022-01-06 09:14] devikavarshney commented on #88
IN PROGRESS @aakankshabhende

[2022-01-06 09:16] devikavarshney commented on #74
@ARUNBALACHOCKALINGAM @shivshankar9 Can we collaborate mine is almost completed have to do some changes.

[2022-01-06 09:51] abaran803 commented on #112
Ok, I'll do it

[2022-01-06 10:59] abaran803 commented on #112
Should I add the same logo used on the page?

[2022-01-06 12:09] leesha19 opened #117 "website theme"
hey i would like to change the theme of website

[2022-01-06 14:22] udith51 commented on #105
@shivshankar9 you may review #114 now!!

[2022-01-06 14:33] Chetan-B-B commented on #58
@shivshankar9  can you assign me this issue? I got an idea to solve this issue

[2022-01-06 15:20] #112 closed, assigned to abaran803

[2022-01-06 17:28] shivshankar9 commented on #58
Ok go ahead

[2022-01-07 04:13] Atif0604 opened #119 "Img to pdf not working"
Img to pdf tool not working
I'll to make it with js from scratch
it will convert all images to pdf
@aakankshabhende please assign

[2022-01-07 09:48] kunalahuja06 opened #121 "Add cross button to robot"
![2022-01-07_LI](https://user-images.githubusercontent.com/52367650/148525611-d59fc05f-9ec4-4196-b75f-ccded97b5a57.jpg)

[2022-01-07 10:03] rishitajain01 commented on #121
@kunalahuja06 please assign this to me..

[2022-01-07 14:21] Chetan-B-B commented on #58
Thanks @shivshankar9.I'm working on it

[2022-01-07 16:14] #105 closed, assigned to udith51

[2022-01-07 17:35] udith51 opened #122 "Logo isn't appearing in functionality pages"
![image](https://user-images.githubusercontent.com/72927422/148583594-363aac25-fb9b-4af7-8769-d4e42289fc1b.png)

[2022-01-07 17:36] udith51 commented on #122
I would like to work on this issue, please assign it to me.

[2022-01-07 18:11] udith51 opened #123 "Extract Zip file UI"
At present, on clicking **Extract zip file** button, it links to nowhere. This issue would get us a landing page where the **Extract zip** functionality can be carried out.

[2022-01-07 18:11] udith51 commented on #123
Please assign it to me!

[2022-01-08 05:47] Chetan-B-B commented on #58
Hai @shivshankar9
I have added the **feature image to pdf** as per issue #58

Here is an example to convert an image to a pdf (I'll change UI as it was before)

step 1 ) uploaded the image

![first](https://user-images.githubusercontent.com/76846980/148633117-1fed66b8-5b55-40fa-9063-f8e5ff582ffb.png)

step 2)  result image to pdf

![second](https://user-images.githubusercontent.com/76846980/148633

[2022-01-08 06:13] Chetan-B-B commented on #58
I have made changes please check comments of issue #58

On Thu, 6 Jan, 2022, 10:59 PM Shiv, ***@***.***> wrote:

[2022-01-08 06:15] #117 closed, assigned to leesha19

[2022-01-08 08:39] davyj123 commented on #11
@shivshankar9  sir i sent pr #124 please check it.

[2022-01-08 10:49] #11 closed, assigned to davyj123

[2022-01-08 11:44] davyj123 opened #125 "Image Resizer"
I can add a image resizer in the tools section please assign this task to me.

[2022-01-08 13:49] udith51 commented on #7
@shivshankar9, you may close this issue. The linked pr has been merged :)

[2022-01-08 17:41] geetika005 opened #126 "Changes in contact us page"
The colours of contact us page do not match with the theme of the website ,i want to change the colours of the page.

[2022-01-08 17:41] geetika005 commented on #126
please assign the issue to me

[2022-01-08 19:56] swati2603 commented on #126
Right now **Submit** button is not working. After submission, a message should pop up in which it is written that _Thank you, we will respond to you soon._  Can you fix it?

[2022-01-09 05:20] geetika005 commented on #126
Yes i will fix that too

[2022-01-09 06:18] udith51 commented on #123
Hey @udith51, could you please add relevant tags to the newer issues :)

[2022-01-09 06:37] udith51 commented on #74
@shivshankar9, this issue was resolved #11

[2022-01-09 06:40] #7 closed, assigned to udith51

[2022-01-09 08:07] #109 closed, assigned to udith51

[2022-01-09 08:09] ARUNBALACHOCKALINGAM commented on #13
Please assign me this issue

[2022-01-09 08:10] ARUNBALACHOCKALINGAM opened #128 "Addition of animations"
The page is not dynamic right now, I would like to add few transitions and animations using CSS and bootstrap classes

[2022-01-09 08:10] ARUNBALACHOCKALINGAM commented on #128
I would like to work on this issue

[2022-01-10 06:27] #119 closed, assigned to Atif0604

[2022-01-10 06:35] #122 closed, assigned to udith51

[2022-01-10 06:50] Atif0604 opened #134 "unable to redirect to about page from another pages"
hey @Abirpal202049 @swati2603 Please assign

[2022-01-10 06:55] Abirpal202049 commented on #134
Yes but not only about page but Contact page also

[2022-01-10 08:07] udith51 opened #136 "Img to Pdf page UI improvement"
Img-to-Pdf page UI can be made consistent with Doc-to-Pdf(#114) and Text-to-Pdf(#127)

[2022-01-10 08:07] udith51 commented on #136
Please assign it to me:)

[2022-01-10 08:19] Atif0604 commented on #134
Sure

[2022-01-10 08:35] ARUNBALACHOCKALINGAM commented on #128
This issue is fixed by merge PR #131

[2022-01-10 12:00] #134 closed, assigned to Atif0604

[2022-01-10 12:59] #121 closed, assigned to rishitajain01

[2022-01-10 13:16] #125 closed, assigned to davyj123

[2022-01-10 13:47] abaran803 commented on #111
Do I need to do something more on this issue?

[2022-01-10 16:14] #111 closed, assigned to abaran803

[2022-01-10 16:21] #128 closed, assigned to ARUNBALACHOCKALINGAM

[2022-01-11 07:32] Abirpal202049 opened #141 "Text-to-Pdf link is not working Fix it"

[2022-01-11 09:54] devxprite opened #142 "Create a new footer"
At this time the footer of the website is very simple and does not give any information about the website.  So I want to design a new footer.

[2022-01-11 15:31] rishitajain01 commented on #141
please assign this to me..

[2022-01-11 16:18] rishitajain01 commented on #141
but it is working..

[2022-01-11 18:21] Abirpal202049 commented on #141
No its not working its showing 404 error. If you want to work tell us

[2022-01-11 18:57] rishitajain01 commented on #141
@Abirpal202049 I want to work on it. Please assign it to me

[2022-01-13 05:24] #136 closed, assigned to udith51

[2022-01-13 05:48] aakankshabhende commented on #51
Any updates? @SuperAayush @Shubhambawner

[2022-01-13 06:40] abaran803 opened #144 "Correcting the view of tools for mobile device"
![Screenshot_20220113-120608.png](https://user-images.githubusercontent.com/71405368/149278205-990741f5-2dc9-4e65-8062-4a56003fda27.png)

I want to make the each block more wider for mobile device using media query.

[2022-01-13 06:41] udith51 opened #145 "Navbar isn't responsive"
For smaller screen size, navbar isn't responsive. The height remains same while width decreases, thereby making the text and logo disordered. Also the texts stack over each other, which makes it look awful.
![image](https://user-images.githubusercontent.com/72927422/149278652-7e416f29-613e-4f8b-8ba3-b163887c4af7.png)

[2022-01-13 06:42] udith51 commented on #145
Please assign me this issue :)

[2022-01-13 06:44] SuperAayush commented on #51
@aakankshabhende yes I asked @shivshankar9 above to choose between the two headers but I didn't get a response from his side.

[2022-01-13 07:39] swati2603 commented on #123
@udith51 Are you working on it or should I assign it to someone else?

[2022-01-13 18:02] udith51 commented on #123
@swati2603, actually I was waiting for #13 to be merged. Ones the functionality is done, I could go forward with UI, else doing UI first and then going with functionality might create a lot of bugs by the end. So I worked on Img-to-Pdf UI (which got merged today) and ones #13 gets merged, I can work on this. Still if you want, I can start working on this pr now.

[2022-01-13 18:29] swati2603 commented on #123
Okay, no problem.

[2022-01-16 13:43] leesha19 opened #149 "resize image styling"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.......resize image page does not have any styling

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
i would like to add some css so that it will look user friendly
**Describe alternatives you've considered**
A clear and concise de

[2022-01-16 13:44] leesha19 commented on #149
i would like to the styling in the resize image page

[2022-01-17 04:02] aakankshabhende commented on #9
You can take the help of scanner.js @kushagra487

[2022-01-17 04:04] aakankshabhende commented on #13
Any updates? @ARUNBALACHOCKALINGAM

[2022-01-17 04:06] aakankshabhende commented on #67
Any updates? @satyamgupta1495

[2022-01-17 04:47] ARUNBALACHOCKALINGAM commented on #13
I'll try to make a PR by EOD

[2022-01-17 05:17] aakankshabhende commented on #13
Okay no issues @ARUNBALACHOCKALINGAM

[2022-01-17 07:21] satyamgupta1495 commented on #67
already raised a PR. I think its merged could you plz check?

[2022-01-17 07:41] #67 closed, assigned to satyamgupta1495

[2022-01-18 07:54] #145 closed, assigned to udith51

[2022-01-18 15:16] #142 closed, assigned to devXprite

[2022-01-18 18:27] TMahato opened #150 "Services button is not working"
I would like to fix this issue.
Please assign me this.

[2022-01-18 19:43] swati2603 commented on #150
What changes would you make in that section?

[2022-01-19 17:20] TMahato commented on #150
Like the service button is not working so I will redirect to the tool section when it is clicked.

[2022-01-19 18:49] TMahato commented on #150
I am not able to find nav links, it's not in index.html, in which file it is in?

[2022-01-21 09:23] #150 closed, assigned to TMahato

[2022-01-21 09:23] #144 closed, assigned to abaran803

[2022-01-21 09:27] shivshankar9 commented on #52
Since there is no updates from @smridhiwho
Assigned to @darecoder-git

[2022-01-21 09:59] shivshankar9 opened #151 "Compress img size"
Functionallity to Reduce the image size

[2022-01-21 10:00] #34 closed, assigned to tiasaxena

[2022-01-21 10:01] #8 closed, assigned to ssurbhi09

[2022-01-22 04:56] shivshankar9 opened #152 "protected & unprotected pdf"
funtionality to protect and unprotect pdf

[2022-01-22 08:43] udith51 commented on #141
Hey @Abirpal202049 @aakankshabhende , can I work on this?

[2022-01-22 15:32] siva-krish45 commented on #141
hey @Abirpal202049 @aakankshabhende i am new to open source... will you please assign it to me ? i already worked on it so that it will be my first meaningful pull request.

[2022-01-22 18:02] #141 closed, assigned to siva-krish45, udith51

[2022-01-23 16:44] swati2603 opened #155 "About service button"
Right now service button is not working. Redirect the service button to the tool section when it is clicked.

[2022-01-23 18:06] siva-krish45 opened #156 "user defined filename in the text to pdf tool"
**Is your feature request related to a problem? Please describe.**

whenever we download the pdf in the text to pdf feature , the filename remains the same (text.pdf)

**Describe the solution you'd like**

the tool should have a input field for getting the user defined filename. whenever it is downloaded the pdf should be like
( user defined filename.pdf)

if the input is syllabus , then the outpu

[2022-01-23 18:07] siva-krish45 commented on #156
can i work on it ?

[2022-01-24 05:22] swati2603 commented on #156
Yes

[2022-01-24 14:59] udith51 commented on #123
@shivshankar9, do we need these extra customizations?

![image](https://user-images.githubusercontent.com/72927422/150801314-ce825ec1-3623-4dd1-bb69-1040bd323906.png)

I feel this is a general website for students and while extracting zip file, they don't need this. What do you say?

[2022-01-25 06:12] NamanGokharu commented on #155
Please assign me this issue!

[2022-01-28 12:57] #123 closed, assigned to udith51

[2022-01-28 16:20] shivshankar9 opened #160 "UI Enhancement"

[2022-01-29 14:55] Tanujkanti4441 commented on #160
hey can i work on this

[2022-01-29 17:11] #156 closed, assigned to siva-krish45

[2022-01-30 10:36] shivshankar9 commented on #99
@sagarcode28 ??

[2022-01-30 10:37] shivshankar9 commented on #88
??

[2022-02-02 08:19] #126 closed, assigned to geetika005

[2022-02-05 19:12] Atif0604 commented on #151
@shivshankar9 Please Assign

[2022-02-06 03:15] #151 closed, assigned to nobody

[2022-02-06 03:22] Atif0604 commented on #151
Hey @shivshankar9 i asked to work on this issue
Why it is closed

[2022-02-06 03:33] shivshankar9 commented on #151
already pr merged
for this

[2022-02-11 08:29] devikavarshney commented on #88
@shivshankar9 sorry for delay I did home page UI but accidentally I made changes in the main branch will you accept it ?

[2022-02-11 08:44] devikavarshney commented on #88
<img width="940" alt="image" src="https://user-images.githubusercontent.com/74262916/153561151-ede9dc91-6c20-447f-9d0a-56b89ec9c7d8.png">
<br> <br>
<img width="938" alt="image" src="https://user-images.githubusercontent.com/74262916/153561218-4f2cc29e-52e6-46e7-8c6f-4600ef6609b2.png">
<br> <br>
<img width="960" alt="image" src="https://user-images.githubusercontent.com/74262916/153561296-0858e2b9-

[2022-02-11 08:46] devikavarshney commented on #88
@shivshankar9 have to some more changes can I make another issue for the contact page and other improvements ?

[2022-02-11 08:59] devikavarshney commented on #88
Loading -
<br><br>
<img width="952" alt="image" src="https://user-images.githubusercontent.com/74262916/153563246-ec11c2d5-1ad8-45fe-8957-86eb0634171e.png">

[2022-02-11 09:47] shivshankar9 commented on #88
Ok

[2022-02-11 13:05] devikavarshney commented on #88
@shivshankar9 sorry for delay I did home page UI but accidentally I made changes in the main branch will you accept it ?

[2022-02-11 13:24] devikavarshney opened #161 "Redesigning contact page"
This page is not consistent and has many flaws. I can change the UI design of the contact page.
Please assign this issue to me.

[2022-02-11 13:26] devikavarshney commented on #88
@shivshankar9 hey Here is one request if you can change the tag from easy to medium as I redesigned the logo too in Figma. And added animations too.

[2022-02-11 13:40] devikavarshney commented on #88
@shivshankar9 check this PR #162

[2022-02-11 13:41] devikavarshney commented on #161
@shivshankar9 please add SWOC too.

[2022-02-11 13:47] devikavarshney opened #163 "Improving chatbot Design"
**Is your feature request related to a problem? Please describe.**
yes, the font size is very large and it is overlapping with the navbar.

**Describe the solution you'd like**
I will make it consistent with Home UI design and much more.

**Describe alternatives you've considered**
I will try to make the chatbot again from scratch.

**Additional context**
<br> <br>
<img width="946" alt="image" src

[2022-02-11 15:37] devikavarshney commented on #161
<img width="950" alt="image" src="https://user-images.githubusercontent.com/74262916/153621071-33c1e4ae-52e8-4f37-a93c-d50a6e18d2b7.png">
<br> <br>
<img width="946" alt="image" src="https://user-images.githubusercontent.com/74262916/153621142-c56baa8f-9a27-45a7-9403-b45afab81332.png">
@shivshankar9  check this should I send PR?

[2022-02-12 06:35] devikavarshney commented on #161
@shivshankar9 @aakankshabhende please check PR #164.

[2022-02-12 06:41] devikavarshney commented on #163
@shivshankar9 @aakankshabhende please assign this issue to me.

[2022-02-12 07:05] devikavarshney opened #165 "Improving Image to Pdf and Doc to Pdf services UI design."
**Is your feature request related to a problem? Please describe.**
The UI design of the services is not consistent with the design of the website.

**Describe the solution you'd like**
I will improve the design of the services page mentioned above.

[2022-02-12 07:08] devikavarshney opened #166 "Improving Text to Pdf and extract zip file services UI design."
**Is your feature request related to a problem? Please describe.**
The UI design of the services is not consistent with the design of the website.

**Describe the solution you'd like**
I will improve the design of the services page mentioned above.

[2022-02-12 07:10] devikavarshney opened #167 "Change Resize image service page UI design."
**Is your feature request related to a problem? Please describe.**
The UI design of the resize image service is not consistent with the design of the website.

**Describe the solution you'd like**
I will completely change the design of the Resize service page.

[2022-02-12 07:13] devikavarshney commented on #165
@shivshankar9 @aakankshabhende please assign this issue to me.

[2022-02-12 07:14] devikavarshney commented on #166
@shivshankar9 @aakankshabhende please assign this issue to me.

[2022-02-12 07:14] devikavarshney commented on #167
@shivshankar9 @aakankshabhende please assign this issue to me.

[2022-02-12 10:09] aakankshabhende commented on #167
Go for it @devikavarshney

[2022-02-12 10:12] aakankshabhende commented on #155
Any updates? @NamanGokharu

[2022-02-12 11:51] devikavarshney commented on #163
@aakankshabhende can you add tags too for every issue you have assigned to me?

[2022-02-12 14:06] abhinav2712 opened #168 "The Services button on nav bar is not working accurately"
I was going through the website and found that when pressing service button on nav bar, it redirects me exactly at same place which home button directs to.

I would like to fi the code for directing it to correct container which is "tools"

**Additional context**
Also if possible, consider changing whole UI design because the website looks too "big" or zoomed in if you know what I mean

[2022-02-12 18:22] #161 closed, assigned to devikavarshney

[2022-02-12 18:25] #88 closed, assigned to devikavarshney

[2022-02-13 03:36] devikavarshney commented on #168
@abhinav2712 Hey, I have already solved this issue and sent the PR.

[2022-02-13 03:53] abhinav2712 commented on #168
Ohh ohkay, I am kinda newbie here so i didnt  check PR's...

[2022-02-13 04:20] aakankshabhende commented on #168
@abhinav2712 you can check other issues or create your own relevant issues :)

[2022-02-13 04:22] aakankshabhende commented on #168
@abhinav2712 you can check issue #155

[2022-02-13 04:23] aakankshabhende commented on #9
Any updates? @kushagra487

[2022-02-13 04:23] #13 closed, assigned to ARUNBALACHOCKALINGAM

[2022-02-13 04:24] aakankshabhende commented on #40
Any updates? @Viditjain04

[2022-02-13 06:46] abhinav2712 commented on #168
Yeah surely i would do

[2022-02-14 05:54] devikavarshney commented on #163
@shivshankar9 Please add tags to it.

[2022-02-14 05:54] devikavarshney commented on #165
@shivshankar9 Please add tags to it.

[2022-02-14 05:56] devikavarshney commented on #166
@shivshankar9 Please add tags to it.

[2022-02-14 05:56] devikavarshney commented on #167
@shivshankar9 Please add tags to this issue.

[2022-02-14 11:11] devikavarshney commented on #165
@shivshankar9 @aakankshabhende Please check PR #169.

[2022-02-14 14:01] #168 closed, assigned to nobody

[2022-02-14 19:17] #165 closed, assigned to devikavarshney

[2022-02-15 03:30] #40 closed, assigned to Viditjain04

[2022-02-15 03:31] #51 closed, assigned to SuperAayush

[2022-02-15 03:32] #52 closed, assigned to darecoder-git

[2022-02-15 03:33] #74 closed, assigned to devikavarshney

[2022-02-15 03:34] #98 closed, assigned to madhuri878

[2022-02-17 11:56] devikavarshney commented on #166
@shivshankar9 @aakankshabhende please check #172

[2022-02-18 02:52] #166 closed, assigned to devikavarshney

[2022-02-18 05:55] devikavarshney opened #173 "Solving the issue with the navbar during navigation with other changes on landing page"
**Is your feature request related to a problem? Please describe.**
The navbar shows the home tab active even on the service section.  And have some minute problems on the landing page like on service buttons the link in the text, not the button, and some more. Also the positioning of the image.

**Describe the solution you'd like**
I will correct the navigation and other problems on the landing pa

[2022-02-18 05:56] devikavarshney commented on #173
@shivshankar9 @aakankshabhende Please assign this issue to me.

[2022-02-18 05:59] devikavarshney opened #174 "Mail Button in About section is not working"
**Is your feature request related to a problem? Please describe.**
The mail button is not working. It is taking the user to the home page itself.

**Describe the solution you'd like**
I will add the functionality to the mail button.

[2022-02-18 05:59] devikavarshney commented on #174
@aakankshabhende @shivshankar9 Please assign this issue to me.

[2022-02-18 06:06] devikavarshney opened #175 "Make the navbar responsive for all the pages including contact and all services page with Home page responsivity."
**Is your feature request related to a problem? Please describe.**
Navbar and home section of the website is not responsive.

**Describe the solution you'd like**
I will make the navbar and home page responsive.

[2022-02-18 06:10] devikavarshney opened #176 "Contact page is not responsive and services buttons animation is not responsive"
**Is your feature request related to a problem? Please describe.**
The contact page is not responsive and the services buttons animation is not responsive on the landing page.

**Describe the solution you'd like**
I will make the contact page and services button responsive.

[2022-02-18 06:11] devikavarshney commented on #176
@shivshankar9 @aakankshabhende please assign this issue to me.

[2022-02-18 06:11] devikavarshney commented on #175
@shivshankar9 @aakankshabhende please assign this issue to me.

[2022-02-18 10:30] aakankshabhende commented on #58
Any updates? @Chetan-B-B

[2022-02-18 16:44] Chetan-B-B commented on #58
Can I send pull request?

On Fri, 18 Feb, 2022, 4:00 PM Aakanksha Bhende, ***@***.***>
wrote:

[2022-02-18 16:53] shivshankar9 commented on #58
this issue already resolved.

[2022-02-18 16:53] #58 closed, assigned to Chetan-B-B

[2022-02-19 14:42] devikavarshney commented on #167
@shivshankar9 @aakankshabhende Please check PR #177.

[2022-02-19 16:02] Shlok1999 commented on #160
Hey @shivshankar9  please asssign this issue to me, also I have a pending commit #171 to your repository

[2022-02-20 03:21] #167 closed, assigned to devikavarshney

[2022-02-21 11:17] devikavarshney commented on #163
@aakankshabhende @shivshankar9 Please check PR #178

[2022-02-22 04:36] #163 closed, assigned to devikavarshney

[2022-02-22 18:12] abaran803 opened #180 "UI correction in our services section"
**Is your feature request related to a problem? Please describe.**
On hovering any block in our services section, the width and height of block is also changing, which causing very inconsistency in the UI of the page.

**Describe the solution you'd like**
I want to remove the changing of width and height of the block

**Describe alternatives you've considered**
Remove the hover effect of row class

[2022-02-23 10:26] udith51 opened #181 "Home page UI bug corrections"
Bugs to be corrected:

1. Mail button increases in size on hover. Consistency is required with get started button.
2. Main button functionality is to be implemented.
3. Services button increases in height/width on hover making it look odd.
4. Services button text isn't visible on hover.
5. Last service- Resize image is not correctly arranged with other services
6. Image beside **Get Started btn**

[2022-02-23 10:28] udith51 commented on #181
@shivshankar9 @aakankshabhende @Abirpal202049 please assign this issue to me.

[2022-02-23 18:19] #181 closed, assigned to nobody

[2022-02-23 18:26] #174 closed, assigned to devikavarshney

[2022-02-23 18:37] #155 closed, assigned to nobody

[2022-02-23 18:44] vasantisuthar commented on #180
Check the site, the height and width doesn't change, only text is expanded.

[2022-02-23 18:51] vasantisuthar opened #185 "Include proper alignment, and design"
**Is your feature request related to a problem? Please describe.**
The UI needs white space as the design seems to have less margin, padding, and alignment. It will make the design more interactive.

**Describe the solution you'd like**
Add proper alignment, margin, and white spaces.
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or feature

[2022-02-23 19:31] abaran803 commented on #180
Thanks @vasantisuthar for informing me that the issue is already solved. I think when I saw the project, the issue was there in the project and later, it is solved by any PR. If you have any issue in mind related to this project, which not solved yet and also not raised by anyone, please let me know.

[2022-02-23 19:32] vasantisuthar commented on #180
I recently raised an issue for proper alignment and design

[2022-02-23 19:40] abaran803 commented on #180
Can I ask the mentors to assign me on that issue?

[2022-02-23 19:44] vasantisuthar commented on #180
I have already asked the mentors.

[2022-02-23 19:44] abaran803 commented on #180
Ok

[2022-02-24 05:19] devikavarshney commented on #173
@shivshankar9 @aakankshabhende Please check PR : #186

[2022-02-25 17:44] udith51 opened #187 "Toogle theme functionality is not working in any of the functionality page"

[2022-02-25 17:45] udith51 commented on #187
@swati2603 @aakankshabhende @shivshankar9 please assign it to me.

[2022-02-25 18:11] devikavarshney opened #189 "Change the design of image to pdf and doc to pdf page for light mode"
**Is your feature request related to a problem? Please describe.**
The toggle button is not working for our services that are image to pdf and doc to pdf page.

**Describe the solution you'd like**
I will change the design of the image to pdf and doc to pdf page for light mode.

[2022-02-25 18:12] devikavarshney commented on #189
@shivshankar9 @aakankshabhende @swati2603 Please assign this issue to me and check PR #188.

[2022-02-25 18:15] #173 closed, assigned to devikavarshney

[2022-02-25 18:15] swati2603 commented on #189
We have assigned someone else. Please check previous issues.

[2022-02-25 18:32] #189 closed, assigned to nobody

[2022-02-25 18:40] devikavarshney commented on #189
@swati2603 hey actually I didn't see that issue and after sending PR I checked. I am sorry for that. But you can merge for img and doc page if that is okay for you and the person you assigned first can do for the rest.

[2022-02-25 18:49] devikavarshney opened #190 "Testimonials section is not present"
**Is your feature request related to a problem? Please describe.**
The testimonial section is not present for this website.

**Describe the solution you'd like**
I will develop the section for testimonials.

[2022-02-25 18:50] devikavarshney commented on #190
@aakankshabhende @shivshankar9 @swati2603 Please assign this issue to me.

[2022-02-25 18:53] swati2603 commented on #189
It's alright. You may start working on other issues.

[2022-02-25 18:55] devikavarshney opened #191 "Image to pdf page is not responsive"
**Is your feature request related to a problem? Please describe.**
The image to the pdf page is not responsive.

**Describe the solution you'd like**
I will make the image to pdf page responsive.

<img width="380" alt="image" src="https://user-images.githubusercontent.com/74262916/155771521-530e45f6-35dd-45bc-92aa-a3cb90a5cf4b.png">

[2022-02-25 18:55] devikavarshney commented on #191
@aakankshabhende @swati2603 @shivshankar9 Please assign this issue to me.

[2022-02-26 03:37] devikavarshney commented on #189
@swati2603 Hey then why did you accept the mail button PR of someone else I think it was assigned to me first.

[2022-02-26 08:35] swati2603 commented on #189
Dear, I have already merged that PR. And for the same issue, If there will be two PR then Conflicts will come. I told you on discord too. Please check.

[2022-02-26 08:55] devikavarshney commented on #190
@aakankshabhende @swati2603 @shivshankar9 Please check PR #193

[2022-02-26 08:59] devikavarshney opened #194 "Light mode designing for testimonials section with responsivity"
**Is your feature request related to a problem? Please describe.**
Light mode designing is not done for the Testimonials section.

**Describe the solution you'd like**
I will design the testimonials page for light mode.

[2022-02-26 09:00] devikavarshney commented on #194
@aakankshabhende @swati2603 @shivshankar9 Please assign this issue to me after reviewing #193

[2022-02-26 09:20] devikavarshney opened #195 "Resize page is not responsive"
**Is your feature request related to a problem? Please describe.**
Resize image page is not responsive.

**Describe the solution you'd like**
I will make the resize page responsive.

[2022-02-26 09:21] devikavarshney commented on #195
@aakankshabhende @shivshankar9 @swati2603 Please assign this issue to me.

[2022-02-26 10:28] devikavarshney commented on #190
@aakankshabhende @swati2603 Please add tags to this issue.

[2022-02-26 11:59] #187 closed, assigned to udith51

[2022-02-26 13:48] devikavarshney commented on #190
@aakankshabhende @shivshankar9 Please add tags to this issue and close this.

[2022-02-26 14:17] vasantisuthar commented on #185
@aakankshabhende please assign this to me

[2022-02-26 16:41] devikavarshney commented on #194
@aakankshabhende @swati2603 @shivshankar9 Please check PR #196

[2022-02-27 04:41] devikavarshney commented on #195
@aakankshabhende @swati2603 @shivshankar9 Please check PR #197

[2022-02-27 05:38] #195 closed, assigned to devikavarshney

[2022-02-27 05:41] #190 closed, assigned to devikavarshney

[2022-02-27 06:20] Bikramjit21 opened #199 "Alignment of About Section and Home Page Content Edit"
**Is your feature request related to a problem? Please describe.**
I will make the proper alignment of about section and edit the content of the home page.

**Describe the solution you'd like**
I will make the about section center aligned so that it looks good and edit the content of home page with some eye catching line with proper css style.

**Additional context**

[2022-02-27 06:23] Bikramjit21 commented on #199
@shivshankar9 assign me this task so that I can merge my pull request.

[2022-02-27 18:59] devikavarshney commented on #176
@aakankshabhende @shivshankar9 @swati2603 Please check PR #200

[2022-02-28 00:16] #176 closed, assigned to devikavarshney

[2022-02-28 01:59] devikavarshney commented on #176
@shivshankar9 thank you so much

[2022-02-28 07:31] RajatBhaskare7 commented on #99
can you assign this to me?

[2022-02-28 11:24] devikavarshney commented on #191
@aakankshabhende @shivshankar9 @swati2603 Please check PR #202

[2022-04-08 16:11] favourmark05 commented on #9
Greeting,
 I will love to have a clear understanding of this issue and also will love to contribute to this project.
if that's okay with you please let me know.

Thanks and regards,
Mfonido Mark